html {
  background-color: #AEA989;
}

body {
  width: 500px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

h2, p {
  color: #fff;
}

.u-name, .p-word, .l-button {
  padding: 5px;
  border-radius: 5px;
}

.u-name {
  float: left;
  margin-right: 20px;
}

.box {
  clear: both;
  float: left;
  width: 90px;
  height: 120px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box-text {
  font-size: 10px;
  margin: 0;
}

#drag1, #drag2, #drag3 {
  padding: 10px 10px;
}

.l-button {
  clear: both;
  float: left;
  margin-top: 10px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

/*.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
